main {
    div{
        h3 {
            display: block;
        }
        .remove-all-favs {
            display:block;
        }
        .favorites-container{
        display: flex;
        flex-wrap: wrap;
        margin: 5%;
        .favorite-card{
            width: 13%;
            margin: 1%;
            padding: 0.5%;
            img {
                width: 100%;
                }
            }
        }       
    }
}