@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Domine&family=Dosis&family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Domine&family=Dosis&family=Inter&family=Open+Sans:ital@0;1&display=swap');

@font-face {
    font-family: "Dosis" sans-serif;
    src: url ('https://fonts.googleapis.com/css2?family=Bitter&family=Domine&family=Dosis&family=Inter&display=swap');
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Bitter&family=Domine&family=Dosis&family=Inter&family=Open+Sans:ital@0;1&display=swap');
}

