@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Domine&family=Dosis&family=Inter&display=swap');

@font-face {
    font-family: "Dosis" sans-serif;
    src: url ('https://fonts.googleapis.com/css2?family=Bitter&family=Domine&family=Dosis&family=Inter&display=swap');
}

@font-face{
    font-family: "Sudo Pro Classic Light";
    src: url(../fonts/Sugo-Pro-Classic-Light-trial.ttf);
}