.search-container{
    .search-results{
        display: flex;
        flex-wrap: wrap;
        margin: 5%;
        .result-card{
            width: 10%;
            margin: 1%;
            padding: 0.5%;
            img {
                width: 100%;
            }
        }
    }
}
